*{
    margin: 0;
    padding: 0;
}

.login{
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #001011;
    width: 60%;
}

.login label{
    display: block;
   text-align: center;
    font-size: medium;
    margin: 15px 0;
}

.login input{
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
}