<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../controllers/users.php" method="POST">
        <label for="name">Nombre</label>
        <input type="text" name="name" placeholder="Ingrese el Nombre">

        <label for="surname">Apellidos</label>
        <input type="text" name="surname" placeholder="Ingrese los apellidos">

        <label for="age">Edad</label>
        <input type="text" name="age" placeholder="Ingreese su edad">

        <label for="genre">Genero</label>
        <input type="text" name="genre" placeholder="Ingreese su genero">

        <label for="phone">Telefono</label>
        <input type="text" name="phone" placeholder="Ingreese el  Nombre">

        <label for="email">Correo Electronico</label>
        <input type="text" name="email" placeholder="Ingreese el  Nombre">

        <label for="password">Contraseña</label>
        <input type="text" name="password" placeholder="Ingreese el  Nombre">

        <input type="submit" value="Enviar">
    </form>
</body>
</html>